rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questionnaires/{qId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.data.profId == request.auth.uid;
      allow update, delete: if request.auth != null
                            && resource.data.profId == request.auth.uid;

      match /reponses/{rId} {
        allow read: if true;
        allow write: if true;
      }
    }

    match /recherches/{rId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
